body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-image: url(../image/Gemini_Generated_Image_5hnrhk5hnrhk5hnr.jpg);
  background-repeat: no-repeat; /* Impede a repetição da imagem */
  background-size: cover; /* Faz a imagem ocupar todo o espaço disponível */
  background-position: center center; /* Centraliza a imagem no fundo */
}

header {
  background: linear-gradient(135deg, #558355, #99c599);
  text-align: center;
  padding: 1rem;
  color: white;

  align-items: center;
}
header svg{
  width: 24px; /* Ajusta o tamanho do SVG */
    height: 24px; /* Ajusta o tamanho do SVG */
    margin-left: 600px;
}

header h1 {
  margin-bottom: 0.5rem;
  margin-right: auto;
  margin-left: 0px;
}
nav {
  margin-top: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
  transition: color 0.3s ease;
}

main {
  max-width: 1200px;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  padding: 0 1rem;
}

.event-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  transition: transform 0.3s ease;
}

.event-card:hover {
  transform: scale(1.05);
}

.event-card h2 {
  color: #2E7D32;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid #81C784;
  padding-bottom: 0.5rem;
}

.event-card .date {
  font-weight: bold;
  color: #4CAF50;
  margin-bottom: 0.5rem;
}

.event-card .description {
  color: #333;
  margin-bottom: 1rem;
}

.event-card .details {
  background-color: #E8F5E9;
  padding: 1rem;
  border-radius: 5px;
  font-size: 0.9rem;
}

footer {
  background: linear-gradient(135deg, #558355, #99c599);
  color: white;
  text-align: center;
  padding: 1rem;
  position: relative;
  bottom: 0;
  width: 100%;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}