body {
    font-family: 'Arial', sans-serif;
    background-image: url(../image/Gemini_Generated_Image_8bnue8bnue8bnue8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #2c3e50;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background: linear-gradient(135deg, #558355, #99c599);
    color: white;
    text-align: center;
    padding: 20px;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    position: relative;
    margin-top: -20px; /* Remove a margem superior padrão */
}

header h1 strong{
    font-family: 'Times New Roman', Times, serif;
    }
    
    .leaf-icon {
      animation: float 2s ease-in-out infinite;
}

nav {
    margin-top: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover, nav a.active {
    color: #ffffff;
}

.about {
    background-color: #558355;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

body p, ul li {
    color: #ffffff;
}

.about h2 {
    color: #ffffff;
    border-bottom: 2px solid #99c599;
    padding-bottom: 10px;
}

.values ul {
    list-style-type: none;
    padding: 0;
}

.values li {
    margin-bottom: 10px;
    font-size: 1.1em;
}

footer {
    text-align: center;
    padding: 20px;
    background: linear-gradient(135deg, #558355, #99c599);
    color: white;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-bottom: -20px;
    margin-top: 30px;
}

